body {
  background: #0b0f19;
  color: white;
  font-family: sans-serif;
  display: flex; justify-content: center;
  padding: 40px;
}

.container {
  width: 350px;
  background: #151a28;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

input, select, button {
  width: 100%; padding: 10px; margin-top: 10px;
  border-radius: 6px; border: none;
  font-size: 15px;
}

button {
  background: #1db954;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:hover { opacity: 0.8; }

#playlist div {
  padding: 6px;
  border-bottom: 1px solid #444;
}
