body {
  background:#111;
  color:#fff;
  font-family:Arial;
  padding:20px;
}

button {
  padding:10px 15px;
  background:#1DB954;
  border:none;
  color:white;
  cursor:pointer;
  margin:5px;
}

input,select {
  padding:8px;
  margin:5px;
}

select option {
  background: #1e1e1e;
  color: #fff;
}
